body {
    overflow-x: hidden;
}
#banner {
    background-image: url("/images/banner.jpg");
    background-size: cover;
    width: 100vw;
    height: 90vh;
}
#bannerbody {
    background: rgba(1, 1, 1, 0.5);
}
#bannerbody svg {
    margin-top: 90vh;
    width: 100vw;
    align:center;
}

#headercontent {
    width: 100vw;
    align:center;
}
.border-brown {
    border: 1px solid rgb(120, 53, 15);
    border-radius: 10px;
    width: 5.5vw;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    /*border-radius: 10px;*/
    z-index: -1;
    -webkit-box-shadow: inset 0 0 6px rgb(120, 53, 15);
    background-color: rgb(120, 53, 15);
}
#headercontent {
    background: rgb(120, 53, 15)!important;
    margin-top:5vh;
}
nav {
 background: rgb(69, 27, 4)!important;
    line-height:24vh;
}




nav li {
    position: relative;
}
nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}
nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
nav a:hover:after {
    width: 100%;
    left: 0;
}

div:nth-child(2) {
    margin-bottom:7vh;
}

.blogs {
    width: 25vw!important;
}
#aboutme div {
    margin-right: auto;
    margin-left: auto;
    width: 50vw;
}

@media only screen and (max-width: 700px) {
    .blogs {
        height: 95vh!important;
        width:80vw!important;
    }
    nav ul {
        flex-direction: column!important;
    }

    #aboutme {
        flex-direction: column-reverse;

    }
    #aboutme div {
        margin-right: auto;
        margin-left: auto;
        margin-top: 5vh;
        width: 90vw;
    }
}
