main {
    margin: auto;
    width: 80vw;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(120, 53, 15);
    margin-top: 2vh;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(120, 53, 15);
    margin-top: 2vh;
}

h4 {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(120, 53, 15);
    margin-top: 2vh;
}
#blogcontent img {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#blogcontent ul li {
    list-style-type: disc;
}
#blogcontent code {
    margin-top:2vh;
    margin-bottom:2vh;
    width: 40vw;
}

#blogcontent a {
    color: rgb(120, 53, 15);
    text-decoration: underline;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    /*border-radius: 10px;*/
    z-index: -1;
    -webkit-box-shadow: inset 0 0 6px rgb(120, 53, 15);
    background-color: rgb(120, 53, 15);
}
@media only screen and (max-width: 700px) {
    #blogcontent code {
        width: 80vw;
    }
}
